/* About section Styling */

.about{
    /*padding-top: 800px;*/
    width: 100%;
    height: 700px;
    background: rgb(9, 19, 49);
}

.about .about-content .whoamisquare{
    width: 100%;
}

.about .about-content .whoamisquare .whoami{
    /*Proxima_nova_bold*/
    /* Put a new font family here */
    text-align: center;
    font-size: 40px;
    margin-bottom: 70px;
}

.about .about-content .whoamisquare .whoami{
    color: #FFFFFA;
}

.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 50%;
}

.about .about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about .about-content .column {

    width: 50%;

}

.about .about-content .right{
    width: 50%;
}

.about .about-content .right .text{
    color: #b3aca2;
    font-family: calibre_regular;
    font-size: 20px;
    line-height: 1.3;
}

.about .about-content .left{
    width: 50%;
}




/* Responsive media query start */

@media(max-width: 1104px){
    .about{
        height: 1600px;
    }

    .about .about-content .left img{
        height: 350px;
        width: 350px;

    }

    .about .about-content .right{
        flex: 100%;
    }

    .about .about-content .left{
        display: flex;
        justify-items: center;
        margin: 0 auto 60px;
    }

    
}

@media(max-width: 705px){

    .about{
        height: 2000px;
    }


    .about .about-content .left img{
        height: 200px;
        width: 200px;
    }

    .about .about-content .left {
        flex: 100%;
        justify-items: center;
    }
}